<article class="listing">
    <img src={{this.pizzeria.image}} alt="pizzeria">
    <div class="details">
      <h3>{{pizzeria.name}}</h3>
      <div class="detail address">
        <span>Address:</span> {{pizzeria.address}}
      </div>
      <div class="detail city">
        <span>City:</span> {{pizzeria.city}}
      </div>
      <div class="detail hours">
        <span>Open:</span> {{pizzeria.hours}}
      </div>
      <div class="detail menu">
        <span>Menu:</span> 
        <span>{{pizzeria.menu.pizzaName}}</span>
        <span>{{pizzeria.menu.pizzaPrice}}</span>
        <span>{{pizzeria.menu.pizzaIgredients}}</span>
      </div>
      <div class="detail description">
        {{pizzeria.description}}
      </div>
    </div>
    <LocationMap @location={{this.pizzeria.address}} />
  </article>