<article class="listing">
    <img src={{this.restaurant.image}} alt="restaurant">
    <div class="details">
      <h3>{{#link-to "restaurants.show" restaurant class=restaurant.id}}{{this.restaurant.name}}{{/link-to}}</h3>
      <div class="detail address">
        <span>Address:</span> {{restaurant.address}}
      </div>
      <div class="detail hours">
        <span>Open:</span> {{restaurant.hours}}
      </div>
      <div class="detail menu">
        <span>Menu:</span> 
        <p>{{#link-to "restaurants.show" restaurant class=restaurant.id}}Click here for details{{/link-to}}</p>
      </div>
    </div>
    <LocationMap @location={{this.restaurant.address}} />
  </article>