<div class="jumbo show-listing">
  <h2 class="title">{{this.model.title}}</h2>
  <div class="content">
    <div>
      <img src={{this.model.image}} class="restaurant-pic" alt="Picture of {{this.model.title}}">
    </div>
    <div class="detail-section">
      <div class="detail name">
        <h1>{{this.model.name}}</h1>
      </div>
      <div class="detail address">
        <strong>Address: </strong> {{this.model.address}}
      </div>
      <div class="detail hours">
        <strong>Opening hours: </strong> {{this.model.hours}}
      </div>
      <div class="detail restaurantMenu">
        <h3>Menu:</h3> 
        {{#each this.model.menu as |menuItem|}}
            <h4>{{ menuItem.pizzaName }}</h4>
            <p>price: {{ menuItem.pizzaPrice }}</p>
            <p>ingredients: {{ menuItem.pizzaIngredients }}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>