<article class="listing">
    <img src={{this.restaurant.image}} alt="restaurant">
    <div class="details">
      <h3>{{restaurant.name}}</h3>
      <div class="detail address">
        <span>Address:</span> {{restaurant.address}}
      </div>
      <div class="detail city">
        <span>City:</span> {{restaurant.city}}
      </div>
      <div class="detail hours">
        <span>Open:</span> {{restaurant.hours}}
      </div>
      <div class="detail menu">
        <span>Menu:</span> 
        <span>{{restaurant.menu.pizzaName}}</span>
        <span>{{restaurant.menu.pizzaPrice}}</span>
        <span>{{restaurant.menu.pizzaIgredients}}</span>
      </div>
      <div class="detail description">
        {{restaurant.description}}
      </div>
    </div>
    <LocationMap @location={{this.restaurant.address}} />
  </article>